
/* Règles de reset */ 
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

}


/* Regle de style général*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

header {
    float: left;
    margin: -1% 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

div[class="card-body"] {
  background-color: black;
  text-align: center;
}

h2.display-5 {
  color: crimson;
}

h1,h2 {
  padding: 40px;
}

i {
  color: white;
} 

header {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 0.5em;
  z-index: 10;
}

main {
  z-index: 1;
}


nav {
  z-index: 999;
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: crimson;
  font-size: 20px;
}

nav ul li a:hover {
  text-decoration: none;
  color: crimson;
  font-weight: bold;
}

/* Règles menu hover*/ 
.image-off, #quisuije:hover .image-on {
  display: none;
  padding-top: 1em;
}

.image-on, #quisuije:hover .image-off {
  display: block;
  padding-top: 1em;
}

.image-off, #competences:hover .image-on {
  display: none;
  padding-top: 1em;
}

.image-on, #competences:hover .image-off {
  display: block;
  padding-top: 1em;
}

.image-off, #travaux:hover .image-on {
  display: none;
  padding-top: 1em;
}

.image-on, #travaux:hover .image-off {
  display: block;
  padding-top: 1em;
}

.image-off, #contact:hover .image-on {
  display: none;
  padding-top: 1em;
}

.image-on, #contact:hover .image-off {
  display: block;
  padding-top: 1em;
}

.image-off, #cv:hover .image-on {
  display: none;
  padding-top: 1em;
}

.image-on, #cv:hover .image-off {
  display: block;
  padding-top: 1em;
}


/* Style paralax header*/ 
.paral {
  min-height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
}
     
    /* pagragraphe pour les sections parallax */ 
.paral p {
  font-size: 24px;
  color:#f5f5f5;
  text-align: center;
  line-height: 60px;
}
     
    /* heading des sections parallax */ 
.paral h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  text-align: center;
  padding-top: 60px;
  line-height: 100px;
}
     
    /* Background images pour les sections parallax */ 
.paralsec {
  background-image: url("../img/rsz_bg1.jpg");
}
     
.paralsec1 {
  background-image: url("../img/bg2.jpg")
}
     
.paralsec2 {
  background-image: url("../img/rsz_bg3.jpg");
}

.paralsec3 {
  background-image: url("../img/rsz_bg4.jpg");
}
     
    /* Enleève bottom margin des section parallax */
.jumbotron-fluid {
  margin-bottom: 0;
  margin-top: 0;
}
    /* Règles de modification CSS pour le full-width */ 
.row {
  margin-right: 0px;
  justify-content: center !important;
}

.container-fluid {
  padding: 0 !important;
}

    /* FIN Règles de modification CSS pour le full-width */


  /*ID & CLASSES perso */
#carte {
  background-image: url("/img/projet_1.png") !important;
  background-repeat: no-repeat;
}

.espace {
  line-height: 1.6 !important;
}

.error {
  color: red;
}

.rouge {
    color: crimson;
}

.space {
  margin-top: 5%;
}

.opac {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}
.line {
  line-height: normal !important;
}
.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}
.opa-title {
  background-color: black;
  opacity: .8;
}
.box-projet {
  background-color: deeppink !important;
}
  /* FIN ID & CLASSES perso */

  /* Footer */
.wn-footer {
  padding: 2.5rem 0;
  text-align: center;
  color: white;
  background-color: black;
  border-top: .05rem solid #e5e5e5;
}
     
.wn-footer a {
  color: crimson;
}

.fa-terminal {
  color: white;
  margin-left: 0.5em;
}


  /* Skills */

.amg-badge-collection {
  background: #151515;
}	

.amg-badge h3 {
  margin: 0;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 5%;
}

.amg-badge {
  margin-right: 2em;
  padding: 1em;
}


#bars {
  margin: 2em auto;
  max-width: 960px;
  overflow: hidden;
}
        
.bar {
  float: left;
  width: 20%;
  text-align: center;
}
        
.bar h3 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}
        
.bar-circle {
  display: block;
  margin: 0.7em auto;
}

.lh2 {
  line-height: 0px;
}

.card {
  margin-bottom: 1em;
  padding: 0.5em;
}

.card-text {
  font-size:medium !important;
}

.contact {
  color: black !important;
  font-size: small !important;
}

 /* Hover Blur Effect */


/* Media qurey section */

@media(max-width: 850px) {

  .logo {
        position: fixed;
        top: 0;
        
  }

  nav ul {
        max-height: 0px;
        background: #000;
        width:100%;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 24px;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  nav ul li a img {
    margin-left: 12em;
  }

  .menu-icon {
        display: block;
        width: 100%;
  }
  
}
@media(max-width: 1300px){
  nav ul li a img {
    width: 80% !important;
  }
  nav ul li {
    padding: 0px !important;
    margin: 0 !important;
  }

}

